<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrfToken }}">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{{ googleClientId }}">
    
    <title>YClip3</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">

    <script type="text/javascript">
      window.gUser = {{{ user }}}
    </script>    
    <script type="text/javascript" src="/js/main.js"></script>    
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="container main-cont" >
      <div class="row">
        <div class="col header">
          <h3><a href="/">YClip3</a></h3>
          <div><em>A way to make YouTube clip compilations.</em></div>
        </div>
      </div>

      <div class="row">
        <div class="col primary-pane">
          <div class="main-ui-container">
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col footer panel-relaxed" >
         Copyright (c) 2019 <a href="https://mikedll.netlify.com/" target="_blank">Michael Rivera</a>
         |
         <a href="https://github.com/mikedll/yclip3" target="_blank"><i class="fab fa-github" ></i> Source Code</a>
        </div>
      </div>
    </div>

  </body>
</html>
